header {
  
  height: 70px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */

}

nav#menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prisijungti ul{
  display: flex;
  gap: 5px

}

button#parama{

  position: fixed;
}

.menu  {
  display: none;
}

.prisijungti ul > li:nth-child(1){
  /* background-color: red; */
  display: none;
}

.prisijungti ul > li:nth-child(2){
  /* background-color: red; */
  display: none;
}

.prisijungti > ul > li {
  list-style-type: none;
}


#menu .prisijungti > li {
}

#menu .prisijungti a {
  text-decoration: none;
}

#logo {
  font-weight: 600;
  font-size: 1.5rem;
  color:black
}

.prisijungti > ul > li > a {
  color: black;
}

#burger {
  font-size: 25px;
}



@media (min-width: 768px){

  header{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #burger {
    display: none;
  }

  #logo {
    font-size: 1.4;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
  }
  
  .menu {
    display: initial;
  }
  
  nav#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #menu ul {
    display: flex;
    gap: 10px
  }

  #menu li{
    list-style: none;
  }
  
  #menu ul > li > a{
    color: black;
    font-size: 0.8rem; 
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
  
  
    transition: 0.4s;
    
  }
  
  #menu  a:visited{
    color: black;
  }
  
  #menu  a:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    transition: 0.1s;
  }
  
  #menu  a:active{
    opacity: 0.5;
  }
  

  #menu .prisijungti > li {
    text-decoration: none;
  }

  #menu > .prisijungti > ul > li:nth-child(1) > a{
    font-size: 0.4rem;
    /* background-color: yellow; */
  }

  .prisijungti ul > li:nth-child(1){
    /* background-color: red; */
    display: initial;
  }
  
  .prisijungti ul > li:nth-child(2){
    /* background-color: red; */
    display: initial;
  }
}

