@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200;400;600;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=PT+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

body {
  font-family: Inter, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lora, "Times New Roman", Times, serif;
}

#hero {
  height: 600px;
  display: flex;
  align-items: flex-end;
  background-image: url('https://images.unsplash.com/photo-1654053285059-e21f6d8fb21e?auto=format&fit=crop&q=80&w=3774&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

#hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 450px; 
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.hero > h1, p {
  text-align: center;
  color: white;
  z-index: 1;
}

.hero > h1 {
  margin: 0;
}

.hero > h1 > span {
  color: rgb(99, 135, 190);
}

.hero > p {
  line-height: 150%;
}

.hero > div {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.hero > div > button {
  font-weight: 800;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  z-index: 1;
}

.hero > div > button:first-of-type{
    background: linear-gradient(to bottom left, rgb(112, 154, 212),  rgb(0, 52, 141));
    color: white;
  }

.hero > div > button:last-of-type{
  border: 2px solid rgb(88, 133, 197);
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

@media (min-width: 768px){
  body {
    
  }

  #hero {
    height: 700px;
    display: flex;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/663573/pexels-photo-663573.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    justify-content: flex-start;
  }

  #hero::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 700px; 
    background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.527));
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin-left: 25px;
  }

  .hero > h1, p {
    text-align:left;
    color: white;
    z-index: none;
  }

  .hero > h1 {
    margin: 0;
    font-size: 74px;
    color: white;
  }

  .hero > div {
    display: flex;
    gap: 20px;
    padding: 0;
  }

  .hero > div > button:first-of-type{
    background: linear-gradient(to bottom left, rgb(112, 154, 212),  rgb(0, 52, 141));
    color: white;
  }

  .hero > div > button:last-of-type{
    border: 2px solid rgb(88, 133, 197);
    color: white;
    background-color: rgba(0, 0, 0, 0);
  }

  .hero > h1 > span {
    color: rgb(84, 128, 193);
  }
}

